spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookmarkit
    username: app
    password: ybigta4321
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

security:
  enable: true

logging:
  level:
    root: info
    org.hibernate.SQL: debug
